.browser-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 20px auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.time-accessed {
  font-size: 14px;
  color: #777;
  margin-right: 10px;
}

.logo {
  max-width: 50px;
  margin: 0 10px;
}

.title {
  font-size: 20px;
  color: #333;
  margin: 0 10px;
}

.domain-url {
  font-size: 16px;
  color: #555;
  margin-left: 10px;
}

.button {
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button-img {
  width: 20px;
  height: 20px;
}
